<div class="container-main">
  <app-promotions-slider class="app-promotions-slider" [promotions]="promotions"></app-promotions-slider>
  <app-intro-accueil></app-intro-accueil>

  <div #sectionMetiers>
    <app-section-caroussel
      [title]="'MÉTIERS DU GARAGE'"
      [background]="'white'"
      [cards]="metiersCards"
      [activeIndex]="activeIndexMetiers">
    </app-section-caroussel>
  </div>

  <div #sectionAgrements>
    <app-section-caroussel
      [title]="'AGRÉMENTS DU GARAGE'"
      [background]="'gradient'"
      [cards]="agrementsCards"
      [activeIndex]="activeIndexAgrements">
    </app-section-caroussel>
  </div>

  <app-metiers-pictos [items]="metiersPictos"></app-metiers-pictos>
  <app-brands></app-brands>
</div>
