<div class="container-main">
  <div class="home-section">
    <app-promotions-slider class="app-promotions-slider" [promotions]="promotions"></app-promotions-slider>
  </div>
  <div class="home-section">
    <app-intro-accueil></app-intro-accueil>
  </div>

  <div class="home-section">
    <app-metiers-pictos [items]="metiersPictos"></app-metiers-pictos>
  </div>

  <div #sectionAgrements class="home-section">
    <app-section-caroussel
      [title]="'Nos agréments'"
      [subtitle]="'Nos labels et certifications pour une qualité de service irréprochable.'"
      [background]="'gradient'"
      [cards]="agrementsCards"
      [activeIndex]="activeIndexAgrements">
    </app-section-caroussel>
  </div>

  <div class="home-section">
    <app-brands></app-brands>
  </div>
</div>
