<div class="intro-bg" appInViewport>
  <div class="intro-wrapper container-max">
    <h1 class="main-title" appInViewport>
      <span class="txt-color-primary">JLH AUTO PAM</span><br>
      Pneumatiques, entretien & réparation automobile<br>
      <span>Votre garage à PONT-A-MOUSSON</span>
    </h1>
    <p class="main-subtitle" appInViewport>
      Expertise locale, accueil chaleureux et solutions rapides pour garder votre véhicule en sécurité.
    </p>

    <div class="intro-content">
      <div class="intro-banner" appInViewport>
        <img
          ngSrc="assets/img/garage-jlh-autopam.JPG"
          alt="Garage JLH Auto Pam"
          height="900"
          width="1599"
          priority
        />
        <div class="intro-banner-cta">
          <span>Prendre rendez-vous</span>
          <a class="cta-btn" routerLink="/contact">C’EST PARTI</a>
        </div>
      </div>

      <div class="intro-info" appInViewport>
        <div class="intro-bloc intro-bloc-right">
          <div class="horaires-title">HORAIRES ET ADRESSE</div>
          <div class="horaires-info">
            <div><span class="material-icons">location_on</span>27 Avenue du Général de Gaulle, 54700 PONT-A-MOUSSON</div>
            <div><span class="material-icons">call</span>03 83 82 35 40</div>
          </div>
          <hr>
          <div class="horaires-table">
            <div><span>Lundi</span><span>08h30-12h00 et 13h30-18h00</span></div>
            <div><span>Mardi</span><span>08h30-12h00 et 13h30-18h00</span></div>
            <div><span>Mercredi</span><span>08h30-12h00 et 13h30-18h00</span></div>
            <div><span>Jeudi</span><span>08h30-12h00 et 13h30-18h00</span></div>
            <div><span>Vendredi</span><span>08h30-12h00 et 13h30-18h00</span></div>
            <div><span>Samedi</span><span>Fermé</span></div>
            <div><span>Dimanche</span><span>Fermé</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
